body{
      width:80%;
      margin: 0;
     padding: 0;
     box-sizing: border-box;
     margin: 0px 10%;
}
/* reset css */
.header {
 text-transform: uppercase;
margin-right: 20px;
}
.header ul{
display: flex;
justify-items: center;
justify-content: space-around;
}
.head1{
 display: flex;
 flex-direction: row;
 flex-wrap: nowrap;
}
.head2{
display: flex;
flex-direction: row;
flex-wrap: nowrap;
}
/* location header */
.header ul li {
    list-style-type: none;
    margin: 0px 30px;   
}
.header ul li:hover{
    background-color: rgb(85, 84, 84);  
    border-radius: 2px;
}
.header ul li a{
    text-decoration: none;
    color: black;
    font-style: bold;  
}
.header ul li a:hover{
    color: white;
}
/* header style */
.body{
    min-height: 400px;
}
#images{
    position: relative;
    width: 80%;
    margin:0 10%;
    height: auto;
}

.describe{
    position: absolute;
    top:10%;
    left:30%;
    color:white;
    font-size: 24px;
}
.content{
    width: 80%;
}
.css-size{
    margin:0 10%;
}
.category{
  color: rgb(77, 74, 74);
  margin-right: 100px;
}
.category>h4{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
.category>p{
 font-size: 13px;
 font-family: Arial, Helvetica, sans-serif;
 text-align: left;
 margin-top: -30px;
}
.img{
    display: flex;
    flex-direction: row
}
.img1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.img2{
    margin-left:5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.img3{
    justify-content: baseline;
    display: flex;
    margin-left: 5%;
}
.img3>img{
    width: 100%;
    height: 95%;
    margin-top: 3%;
}
.img1,.img2,.img3{
   width:30%;
}
.footer{
    width: 80%;
    display: flex;  
}
.category1,.category2,.category3{
    width: 30%;
    text-align: justify;
}
.category2,.category3{
    margin-left: 5%;
}
.footer a{
    text-decoration: none;
    color:rgb(30, 207, 148);
}